*{
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;

}
li:hover{
    background-color: crimson;

}

h1,
h2{
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

#contactme{
  background-color: blue

}